<meta charset='utf8'>

<style>

.cv {
    width: 50vw;
    margin: auto;
}

.cv-row {
    margin-bottom: 1rem;
    background-color: #fafafa;
    width:100%;
    overflow: hidden;
}

.cv-proj {
    padding: 1em;
    width: auto;
}

.cv-proj a {
    color: #000050;
    text-decoration: none;
}

.cv-img-proj {
    height: 10rem;
    width: 10rem;
    float: right;
    margin-left: 1em;
}

.cv-img-proj img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
}

.cv-flushleftright {
    display: flex;
    justify-content: space-between;
}

.cv-flushleft {
    text-align: left;
}

.cv-flushright {
    text-align: right;
    min-width: 5em;
}

.cv-links {
    display: flex;
    float: bottom;
}
.cv-link {
    background-color: #eeeeee;
    font-size: 1rem;
    margin: 0 0.3em;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    flex: 1;
    text-align: center;
    align-items: center;
    font-weight: 5px;
}
.cv-link:hover {
    background-color: #dddddd
}
</style>

<body>
    <div class="cv">
        <h2>Education</h2>
        {% for edu in sections.education %}
        <div class="cv-row" style="margin-bottom: 0.2em">
            <div class="cv-proj" style="padding: 0.2em">
                <div class="cv-flushleftright">
                    <span class="cv-flushleft" style="margin-bottom: 0.2em"><strong>{{ edu.institution | mdlink | safe }}</strong>, {{edu.area}}</span>
                    <span class="cv-flushright">{{ edu.location }}</span>
                </div>
                <div class="cv-flushleftright">
                    <span class="cv-flushleft">{{ edu.summary | mdlink | safe }}</span>
                    <span class="cv-flushright">{% if edu.date %}{{ edu.date }} {% else %} {{ edu.start_date }} - {{ edu.end_date }}{% endif %}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        <h2>Experience</h2>
        {% for exp in sections.experience %}
        <div class="cv-row">
            <div class="cv-img-proj">{% if exp.img %}<img src="{{ exp.img }}"></img>{% endif %}</div>
            <div class="cv-proj">
                <div class="cv-flushleftright">
                    <span class="cv-flushleft" style="margin-bottom: 0.2em"><strong>{{ exp.company | mdlink | safe }}</strong>, {{exp.position}}</span>
                    <span class="cv-flushright">{{ exp.location }}</span>
                </div>
                <div class="cv-flushleftright">
                    <span class="cv-flushleft">{{ exp.summary | mdlink | safe }}</span>
                    <span class="cv-flushright">{% if exp.date %}{{ exp.date }} {% else %} {{ exp.start_date }} -<br> {{ exp.end_date }}{% endif %}</span>
                </div>
                <div class="cv-links"> 
                    {% if exp.demo %} <a class="cv-link" href="{{ exp.demo }}">Demo</a> {% endif %}
                    {% if exp.video %} <a class="cv-link" href="{{ exp.video }}">Video</a> {% endif %}
                    {% if exp.repository %} <a class="cv-link" href="{{ exp.repository }}">Repository</a> {% endif %}
                    {% if exp.report %} <a class="cv-link" href="{{ exp.report}}">Report</a> {% endif %}
                    {% if exp.slides %} <a class="cv-link" href="{{ exp.slides}}">Slides</a> {% endif %}                </div>
            </div>
        </div>
        {% endfor %}
        <h2>Projects</h2>
        {% for project in sections.projects %}
        <div class="cv-row">
            <div class="cv-img-proj">{% if project.img is defined %}<img src="{{ project.img }}"></img>{% endif %}</div>
            <div class="cv-proj">
                <div class="cv-flushleftright">
                    <span class="cv-flushleft" style="margin-bottom: 0.2em"><strong>{{ project.name | mdlink | safe }}</strong></span>
                    <span class="cv-flushright">{{ project.location }}</span>
                </div>
                <div class="cv-flushleftright">
                    <span class="cv-flushleft">{{ (project.summary if project.summary else project.optsummary if project.optsummary) | mdlink | safe }}</span>
                    <span class="cv-flushright">{% if project.date %}{{ project.date }} {% else %} {{ project.start_date }} -<br> {{ project.end_date }}{% endif %}</span>
                </div>
                <div class="cv-links">
                    {% if project.demo %} <a class="cv-link" href="{{ project.demo }}">Demo</a> {% endif %}
                    {% if project.video %} <a class="cv-link" href="{{ project.video }}">Video</a> {% endif %}
                    {% if project.repository %} <a class="cv-link" href="{{ project.repository }}">Repository</a> {% endif %}
                    {% if project.report %} <a class="cv-link" href="{{ project.report}}">Report</a> {% endif %}
                    {% if project.slides %} <a class="cv-link" href="{{ project.slides}}">Slides</a> {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
