cv:
  name: {{ name }}
  location: {{ location }}
  email: {{ email }}
  phone: {{ phone }}
  website: {{ website }}
  social_networks:
    {% for network in social_networks %}
    - network: {{ network.network }}
      username: {{ network.username }}
    {% endfor %}

  sections:
    {% set sec_education = 'education' if lang == 'en' else 'formation' %}
    {{ sec_education }}:
      {% for edu in sections.education %}
      - institution: '{{ edu.institution }}'
        area: {{ edu.area }}
        degree: {{ edu.degree | default('') }}
        date: {{ edu.date | default('') }}
        start_date: {{ edu.start_date | default('') }}
        end_date: {{ edu.end_date | default('') }}
        location: {{ edu.location | default('') }}
        summary: '{{ edu.summary | default('') }}'
        highlights: {{ edu.highlights | default('') }}
      {% endfor %}

    {% set sec_experience = 'experience' if lang == 'en' else 'expériences' %}
    {{ sec_experience }}:
      {% for exp in sections.experience %}
      - company: '{{ exp.company }}{% if exp.repository %} ([Repo]({{ exp.repository }})){% endif %}'
        position: {{ exp.position }}
        date: {{ exp.date | default('') }}
        start_date: {{ exp.start_date | default('') }}
        end_date: {{ exp.end_date | default('') }}
        location: {{ exp.location | default('') }}
        summary: '{{ exp.summary | default('') }}'
        highlights: {{ exp.highlights | default('') }}
      {% endfor %}

    {% set sec_projects = 'projects' if lang == 'en' else 'projets' %}
    {{ sec_projects }}:
      {% for project in sections.projects %}
      - name: '{{ project.name }}{% if project.repository %} ([Repo]({{ project.repository }})){% endif %}'
        date: {{ project.date | default('') }}
        start_date: {{ project.start_date | default('') }}
        end_date: {{ project.end_date | default('') }}
        location: {{ project.location | default('') }}
        summary: '{{ project.summary | default('') }}'
        highlights: {{ project.highlights | default('') }}
      {% endfor %}

    {% set sec_skills = 'skills' if lang == 'en' else 'compétences' %}
    {{ sec_skills }}:
      {% for skill in sections.skills %}
      - label: {{ skill.label }}
        details: {{ skill.details }}
      {% endfor %}

    {% set sec_extracurricular = 'extracurricular_activities' if lang == 'en' else 'activités_extrascolaires' %}
    {{ sec_extracurricular }}:
      {% for activity in sections.extracurricular_activities %}
      - bullet: {{ activity.bullet }}
      {% endfor %}

locale:
  language: {{ 'french' if lang == 'fr' else 'english' }}
design:
  theme: classic
  colors:
    name: rgb(133, 122, 237)
    connections: rgb(133, 122, 237)
    section_titles: rgb(133, 122, 237)
    links: rgb(0, 30, 80)
