<meta charset='utf8'>
<style>
    .cv-img-proj {
        width: 10rem;
        height: 10rem;
    }
    .cv-img-proj img {
        max-width: 100%;
        max-height: 100%;
        aspect-ratio: 1/1;
    }
</style>
<body>
    <div class="cv">
        {% set labels = {
            'education': 'Education' if lang == 'en' else 'Formation',
            'experience': 'Experience' if lang == 'en' else 'Expériences',
            'projects': 'Projects' if lang == 'en' else 'Projets',
            'skills': 'Skills' if lang == 'en' else 'Compétences',
            'extracurricular_activities': 'Extracurricular Activities' if lang == 'en' else 'Activités extrascolaires',
            'demo': 'Demo' if lang == 'en' else 'Démo',
            'video': 'Video' if lang == 'en' else 'Vidéo',
            'repository': 'Repository' if lang == 'en' else 'Dépôt',
            'report': 'Report' if lang == 'en' else 'Rapport',
            'slides': 'Slides' if lang == 'en' else 'Diapositives',
            'paper': 'Paper' if lang == 'en' else 'Article'
        } %}
        <h2>{{ labels.education }}</h2>
        {% for edu in sections.education %}
        <div class="cv-row" style="margin-bottom: 0.2em">
            <div class="cv-proj" style="padding: 0.2em">
                <div class="cv-flushleftright">
                    <span class="cv-flushleft" style="margin-bottom: 0.2em"><strong>{{ edu.institution | mdlink | safe }}</strong>, {{edu.area}}</span>
                    <span class="cv-flushright">{{ edu.location }}</span>
                </div>
                <div class="cv-flushleftright">
                    <span class="cv-flushleft">{{ edu.summary | mdlink | safe }}</span>
                    <span class="cv-flushright">{% if edu.date %}{{ edu.date }} {% else %} {{ edu.start_date }} - {{ edu.end_date }}{% endif %}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        <h2>{{ labels.experience }}</h2>
        {% for exp in sections.experience %}
        <div class="cv-row">
            <div class="cv-img-proj">{% if exp.img %}<img src="{{ exp.img }}"></img>{% endif %}</div>
            <div class="cv-proj">
                <div class="cv-flushleftright">
                    <span class="cv-flushleft" style="margin-bottom: 0.2em"><strong>{{ exp.company | mdlink | safe }}</strong>, {{exp.position}}</span>
                    <span class="cv-flushright">{{ exp.location }}</span>
                </div>
                <div class="cv-flushleftright">
                    <span class="cv-flushleft">{{ exp.summary | mdlink | safe }}</span>
                    <span class="cv-flushright">{% if exp.date %}{{ exp.date }} {% else %} {{ exp.start_date }} -<br> {{ exp.end_date }}{% endif %}</span>
                </div>
                <div class="cv-links"> 
                    {% if exp.demo %} <a class="cv-link" href="{{ exp.demo }}"><p>{{ labels.demo }}</p></a> {% endif %}
                    {% if exp.video %} <a class="cv-link" href="{{ exp.video }}"><p>{{ labels.video }}</p></a> {% endif %}
                    {% if exp.repository %} <a class="cv-link" href="{{ exp.repository }}"><p>{{ labels.repository }}</p></a> {% endif %}
                    {% if exp.report %} <a class="cv-link" href="{{ exp.report}}"><p>{{ labels.report }}</p></a> {% endif %}
                    {% if exp.slides %} <a class="cv-link" href="{{ exp.slides}}"><p>{{ labels.slides }}</p></a> {% endif %}
                    {% if exp.paper %} <a class="cv-link" href="{{ exp.paper}}"><p>{{ labels.paper }}</p></a> {% endif %}
		</div>
            </div>
        </div>
        {% endfor %}
        <h2>{{ labels.projects }}</h2>
        {% for project in sections.projects %}
        <div class="cv-row">
            <div class="cv-img-proj">{% if project.img is defined %}<img src="{{ project.img }}"></img>{% endif %}</div>
            <div class="cv-proj">
                <div class="cv-flushleftright">
                    <span class="cv-flushleft" style="margin-bottom: 0.2em"><strong>{{ project.name | mdlink | safe }}</strong></span>
                    <span class="cv-flushright">{{ project.location }}</span>
                </div>
                <div class="cv-flushleftright">
                    <span class="cv-flushleft">{{ (project.summary if project.summary else project.optsummary if project.optsummary) | mdlink | safe }}</span>
                    <span class="cv-flushright">{% if project.date %}{{ project.date }} {% else %} {{ project.start_date }} -<br> {{ project.end_date }}{% endif %}</span>
                </div>
                <div class="cv-links">
                    {% if project.demo %} <a class="cv-link" href="{{ project.demo }}"><p>{{ labels.demo }}</p></a> {% endif %}
                    {% if project.video %} <a class="cv-link" href="{{ project.video }}"><p>{{ labels.video }}</p></a> {% endif %}
                    {% if project.repository %} <a class="cv-link" href="{{ project.repository }}"><p>{{ labels.repository }}</p></a> {% endif %}
                    {% if project.report %} <a class="cv-link" href="{{ project.report}}"><p>{{ labels.report }}</p></a> {% endif %}
                    {% if project.slides %} <a class="cv-link" href="{{ project.slides}}"><p>{{ labels.slides }}</p></a> {% endif %}
                    {% if project.paper %} <a class="cv-link" href="{{ project.paper}}"><p>{{ labels.paper }}</p></a> {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
